﻿
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<form method="post">
    <h2>Do you realy want to delete your account?</h2>
    <button type="submit">Yes</button>
</form>