﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderBody()

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/angular")
    <script type="text/javascript" src="@Url.Content("~/Scripts/Modules/StudentModule/Module.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Services/StudentService.js")"></script>
    @Scripts.Render("~/StudentControllers")
</body>
</html>
