﻿<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
</head>
<body>
    <div ng-controller="phoneController">
        <div ng-repeat="button in modes">
            <label>
                <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes" />
                {{button.label}}
            </label>
        </div>

        <div ng-switch on="data.mode">
            <div ng-switch-when="Tablets">
                <ul>
                    <li ng-repeat="tablet in tablets">
                        <b>{{tablet.name}}</b>
                        <p>Ціна: {{tablet.price}} $</p>
                        <p>Виробник: {{tablet.company}}</p>
                    </li>
                </ul>
            </div>

            <div ng-switch-when="Phones">
                <ul>
                    <li ng-repeat="phone in phones">
                        <b>{{phone.name}}</b>
                        <p>Ціна: {{phone.price}}$</p>
                        <p>Виробник: {{phone.company.name}}</p>
                    </li>
                </ul>
            </div>

            <div ng-switch-default>
                Оберіть товари для огляду
            </div>
        </div>
    </div>
    
    <script src="js/lib/angular/angular.min.js"></script>
    <script type="text/javascript">
        angular.module('myApp', []);
    </script>
    <script src="js/controllers/PhoneController.js"></script>
</body>
</html>
