﻿@{
    ViewBag.Title = "Edit Student";
}

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style="background-color:gray; font-size:18pt; font-weight:bold; height:30px; text-align:center;">Edit Student Information</td></tr>
    <tr>

        <td style="text-align:right;">Student ID</td>
        <td><input type="text" ng-model="Student.studentID" />  </td>
    </tr>
    <tr>

        <td style="text-align:right;">Name</td>
        <td><input type="text" ng-model="Student.name" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Email</td>
        <td><input type="text" ng-model="Student.email" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Class</td>
        <td><input type="text" ng-model="Student.class" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Enroll Year</td>
        <td><input type="text" ng-model="Student.enrollYear" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">City</td>
        <td><input type="text" ng-model="Student.city" />  </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Save" ng-click="save()" />
            <br />
            <div>{{error}}</div>
        </td>
    </tr>

</table>  
