﻿@{
    ViewBag.Title = "SPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="ApplicationModule">
    <div>
        <table cellpadding="5" cellspacing="6" width="100%" style="background-color:whitesmoke; border:solid 4px green;">
            <tr>
                <td style="border: solid 1px gray; width:170px; text-align:center;"><a href="#showStudents"> Show All Students </a></td>
                <td style="border: solid 1px gray; width:170px; text-align:center;"><a href="#addStudent"> Add New Student </a></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div>
        <div data-ng-view></div>
    </div>
</div>