﻿@model CodeFirst.Project

@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddProject</h2>

@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    <fieldset>
        <p>
            @Html.LabelFor(m => m.ProjectID, "Project Id")
            <br />
            @Html.EditorFor(m => m.ProjectID)
        </p>
        <p>
            @Html.LabelFor(m => m.ProjectName, "Project name")
            <br />
            @Html.EditorFor(m => m.ProjectName)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Description")
            <br />
            @Html.EditorFor(m => m.Description)
        </p>

        <p><input type="submit" value="Add" /></p>
    </fieldset>
}