﻿@model CodeFirst.Project
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<dl>
    <dt>Project #@Model.ProjectID</dt>
    <dd>
        @Html.DisplayFor(model => model.ProjectName)
    </dd>

    <dt>Description</dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}