﻿@model CodeFirst.Project
@{
    ViewBag.Title = "EditProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditProject</h2>

@using (Html.BeginForm("EditProject", "Project", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.ProjectID)

        <p>
            @Html.LabelFor(m => m.ProjectName, "Project name")
            <br />
            @Html.EditorFor(m => m.ProjectName)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Description")
            <br />
            @Html.EditorFor(m => m.Description)
        </p>

        <p><input type="submit" value="Edit" /></p>
    </fieldset>
}