﻿@model IEnumerable<CodeFirst.Project>
@{
    ViewBag.Title = "UserProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects of user</h2>

<div>
    <h3>Registered Users</h3>
    <table>
        <tr>
            <td><p>Project Name</p></td>
            <td><p>Description</p></td>
        </tr>
        @foreach (CodeFirst.Project p in Model)
            {
            <tr>
                <td><p>@p.ProjectName</p></td>
                <td><p>@p.Description</p></td>
            </tr>
        }
    </table>
</div>