﻿<div ng-controller="QuestionController">
    <div class="quest">
        <h3>{{question.text}}</h3>

        <p>{{question.author}}</p>
        <p><i>{{question.date}}</i></p>
    </div>
</div>

<div>
    <form name="answerForm">
        <fieldset>
            <p>
                <label for="answer-text">Текст відповіді</label>
                <input id="answer-text" ng-model="answer.text" required placeholder="Введіть відповідь" />
            </p>
            <p>
                <label for="answer-author">Автор відповіді</label>
                <input id="answer-author" ng-model="answer.author" required placeholder="Введіть автора" />
            </p>
        </fieldset>
        <button type="submit" ng-click="save(answer, answerForm)">Зберегти</button>
    </form>
</div>