﻿@model CodeFirst.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete user</h2>
<dl>
    <dt>User login</dt>
    <dd>
        @Html.DisplayFor(model => model.Login)
    </dd>

    <dt>User name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>User surname</dt>
    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
