﻿@model CodeFirst.User

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User #@Model.UserID</h2>
@using (Html.BeginForm("EditUser", "Home", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.UserID)

        <p>
            @Html.LabelFor(m => m.Login, "User login")
            <br />
            @Html.EditorFor(m => m.Login)
        </p>
        <p>
            @Html.LabelFor(m => m.Name, "User name")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Surname, "User surname")
            <br />
            @Html.EditorFor(m => m.Surname)

        </p>
        
        <p><input type="submit" value="Edit" /></p>
    </fieldset>
}