﻿@model IEnumerable<CodeFirst.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<input type="text" name="login" id="search" />
<input type='button' id="submit" value='Search' />

<div id="results"></div>

<div>
    <h3>Registered Users</h3>
    <table>
        <tr>
            <td><p>User Login</p></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (CodeFirst.User b in Model)
            {
            <tr>
                <td><p>@b.Login</p></td>
                <td><p><a href="/Home/Details/@b.UserID">Details</a></p></td>
                <td><p><a href="/Project/UserProject/@b.UserID">Projects</a></p></td>
            </tr>
        }
    </table>
</div>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

<script type="text/javascript">
    function OnSuccess(data) {
        var results = $('#results'); // Get necessary element
        results.empty(); // Clear element
        for (var i = 0; i < data.length; i++) {
            results.append('<li>' + data[i].Login + '</li>'); // Add data to list
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();
            var login = $('#search').val();
            login=encodeURIComponent(login);
            $('#results').load('@Url.Action("UserSearch", "Home")?login='+login)
        });
    });
</script>