﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeMethod</title>
</head>
<body>
    <div> 
        <div>
            <h2>@ViewBag.Head</h2>
        </div>
    </div>
</body>
</html>
