﻿@model IEnumerable<CodeFirst.User>

<div id="searchresults">
    @if (Model.Count() > 0)
    {

        <h3>Found Users:</h3>
        <ul>
            @foreach (var item in Model)
            {
                <li>@item.Login</li>
            }
        </ul>
    }
</div>
