﻿<!doctype html>
<html ng-app="purchaseApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="purchaseController">
    <div class="page-header">
        <h1> Список покупок </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" ng-model="text" placeholder="Назва" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="number" class="form-control" ng-model="price" placeholder="Ціна" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" ng-click="addItem(text, price)">Додати</button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Ціна</th>
                    <th>Куплено</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.items">
                    <td>{{item.purchase}}</td>
                    <td>{{item.price}}</td>
                    <td><input type="checkbox" ng-model="item.done" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="Scripts/angular.min.js"></script>
    <script>
        var model = {
            items: [
                { purchase: "Хліб", done: false, price: 15.9 },
                { purchase: "Масло", done: false, price: 60 },
                { purchase: "Картофель", done: true, price: 22.6 },
                { purchase: "Сир", done: false, price: 310 }
            ]
        };

        var purchaseApp = angular.module("purchaseApp", []);
        purchaseApp.controller("purchaseController", function ($scope) {
            $scope.list = model;
            $scope.addItem = function (text, price) {
                price = parseFloat(price); // перетворимо введене значення до числа
                if (text != "" && !isNaN(price)) // если текст установлен и введено число, то добавляем
                {
                    $scope.list.items.push({ purchase: text, price: price, done: false });
                }
            }
        });
    </script>
</body>
</html>